<div class="modal fade delete-modal" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
            </div>
            <div class="modal-body">
                <div class="delete-confirmation-image">
                    <img src="/img/delete-cat.png" alt="Delete confirmation">
                </div>
                <p class="delete-confirmation-text">
                    Are you sure you want to delete <span class="user-name-highlight" id="userToDeleteName"></span>?
                </p>
                <input type="hidden" id="userToDeleteId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-delete-confirm" id="confirmDeleteBtn"> Delete
                </button>
            </div>
        </div>
    </div>
</div>