@model Readiculous.Services.ServiceModels.EmailRequestModel
<div>
    <div class="login-title">Forgot Password</div>
    <form method="post" action="/Account/RequestForgotPasswordOtp" id="forgotForm">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label class="form-label" for="forgotEmail">Email</label>
            <input type="email" id="forgotEmail" class="form-control" asp-for="Email" placeholder="Email Address" autocomplete="off" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div style="display: flex; justify-content: center;">
            <button class="btn login-btn" type="submit">Send Code</button>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 1.2rem;">
            <a href="#" class="login-link" id="show-login">Back to Login</a>
        </div>
    </form>
</div> 