<link href="~/css/adminDashboard/logout-confirmation.css" rel="stylesheet" />

<div class="logout-confirmation-modal" style="display: none;">
    <div class="confirmation-box">
        <h3>Logout Confirmation</h3>
        <p>Are you sure you want to logout?</p>
        <div class="button-group">
            <button id="confirmLogout" class="btn-confirm">Confirm</button>
            <button id="cancelLogout" class="btn-cancel">Cancel</button>
        </div>
    </div>
</div>

<script src="~/js/adminDashboard/logout-confirmation.js" asp-append-version="true"></script>