<div class="modal fade" id="registerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4" style="background-color: var(--color-modal); border-radius: 8px;">

            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>

            <div class="text-center">
                <img src="~/img/png-logo.png" class="auth-icon mb-2" alt="Logo" style="width:60px;" />
                <h2 class="h5 mb-3">Create Your Account</h2>
            </div>

            <form id="registerForm" method="post" asp-action="RequestOtp" asp-controller="Account">
                <div id="registerError" class="text-danger small mb-2" style="display:none;"></div>

                <div class="mb-2">
                    <input name="Email" type="email" class="form-control" placeholder="Email Address" autocomplete="off" required />
                </div>

                <button type="submit" class="btn btn-primary w-100 mb-2">Sign Up</button>

                <div class="text-center small">
                    Already have an account?
                    <a href="javascript:void(0);" onclick="switchModal('#registerModal', '#loginModal')">Sign In</a>
                </div>
            </form>
        </div>
    </div>
</div>
