@model Readiculous.Services.ServiceModels.EmailRequestModel
<div>
    <div class="login-title">Sign Up</div>
    <form method="post" action="/Account/RequestOtp" id="registerForm">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label class="form-label" for="registerEmail">Email</label>
            <input type="email" id="registerEmail" class="form-control" asp-for="Email" placeholder="Email Address" autocomplete="off" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div style="display: flex; justify-content: center; gap: 12px; margin-top: 0.4rem;">
            <button class="btn login-btn" type="submit">Sign Up</button>
            <a href="#" class="btn login-btn signup-btn" id="show-login" style="font-weight: bold; background: #fff; color: #b089a5; border: 2px solid #b089a5;">Back</a>
        </div>
    </form>
</div> 