@using Readiculous.Services.ServiceModels
@model UserViewModel
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Complete Registration";
}
@section styles {
    <link rel="stylesheet" href="~/css/completeRegistration.css" />
}
<div class="register-box-custom">
    <div class="register-card-custom">
        <div class="register-cat-img-wrap">
            <img src="~/img/cat-sleep.png" alt="Cat with Book" class="register-cat-img" />
        </div>
        <div class="register-title">Create Your Account</div>
        <form method="post" enctype="multipart/form-data" asp-action="CompleteRegistration" asp-controller="Account">
            <input type="hidden" asp-for="UserId" />
            <div>
                <input type="text" class="register-input" asp-for="Username" placeholder="Username" autocomplete="off" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div>
                <input type="password" class="register-input" asp-for="Password" placeholder="Password" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <input type="password" class="register-input" name="ConfirmPassword" placeholder="Confirm Password" autocomplete="off" />
            </div>
            <div>
                <input type="file" class="register-file-input" asp-for="ProfilePicture" accept="image/*" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>
            <button class="register-btn" type="submit">Sign Up</button>
        </form>
        <div class="register-signin">
            Already have an account? <a asp-controller="Account" asp-action="Login">Sign In</a>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
} 