@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Password Reset Complete";
}
@section styles {
    <link rel="stylesheet" href="~/css/forgotPassword.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
}
<div class="success-box-custom">
    <div class="success-card-custom">
        <div class="success-icon">
            <i class="fa-solid fa-circle-check"></i>
        </div>
        <div class="success-title">Password Reset Complete!</div>
        <div class="success-subtitle">Your password has been successfully updated</div>
        <form method="get" asp-action="Login" asp-controller="Account">
            <button type="submit" class="success-btn">Sign In</button>
        </form>
    </div>
</div> 