@model Readiculous.Services.ServiceModels.UserViewModel

<form id="addUserForm" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Username" class="form-label">Username</label>
        <input asp-for="Username" class="form-control" placeholder="Enter Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Enter Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Role" class="form-label">Role</label>
        <select asp-for="Role" class="form-select" required>
            <option value="" selected disabled>-- Select Role --</option>
            <option value="0">Reviewer</option>
            <option value="1">Admin</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProfilePicture" class="form-label">Profile Picture</label>
        <div class="profile-picture-container">
            <input asp-for="ProfilePicture" type="file" class="form-control" accept=".png,.jpg,.jpeg" />
        </div>
        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
    </div>

    <div class="modal-footer">
        <div class="text-muted small mt-2">A temporary password will be sent to the user's email address.</div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>



<script src="~/js/adminUserMaster/usermasterModal.js" asp-append-version="true"></script>