@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gentium Book Plus", serif;
}

body {
    background-color: #F2EFF1;
    color: #2f2f2f;
}

/* Navbar */
.navbar {
    background-color: #B089A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: white;
}

.logo-group {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 50px;
    margin-right: 10px;
}

.team-name {
    font-size: 24px;
    font-weight: bold;
    color: #2C2133;
}

.nav-links {
    display: flex;
    gap: 25px;
}

    .nav-links a {
        color: #2C2133;
        text-decoration: none;
        font-size: 20px;
        display: flex;
        font-weight: bold;
        align-items: center;
    }

        .nav-links a:hover {
            text-decoration: underline;
        }

.auth-btn {
    background-color: #EDAEC0;
    color: #2C2133;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

    .auth-btn:hover {
        background-color: #A3597F;
        color: #F2EFF1;
    }

/* Back Button */
.back-btn {
    background-color: #F2EFF1;
    color: #2C2133;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

    .back-btn:hover {
        background-color: #A3597F;
        color: #F2EFF1;
    }

.book-rating {
    margin-top: 4px;
    font-size: 16px;
}

    .book-rating span {
        margin-right: 2px;
    }

    .book-rating .rating-number {
        color: #555;
        font-size: 14px;
        margin-left: 4px;
    }

/* Section header box */
.section-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 20px;
}

.section-title-text {
    font-size: 2rem;
    color: #008CFF;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 24px;
    border: 2px solid #B089A5;
    border-radius: 10px;
    background-color: #F8ECE9;
    color: #2C2133;
    box-shadow: 0 0 5px rgba(176, 137, 165, 0.2);
    margin-bottom: 20px;
    text-align: center;
}

.view-more-link {
    display: block;
    text-align: right;
    font-size: 1.05rem;
    font-weight: bold;
    color: #B089A5;
    text-decoration: none;
}

    .view-more-link:hover {
        text-decoration: underline;
    }


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 100px;
    gap: 40px;
}

.hero-text {
    max-width: 710px;
}

    .hero-text h2 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-left: 100px;
    }

    .hero-text p {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 25px;
        padding-left: 100px;
    }

.button-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-left: 270px;
    margin-top: 50px;
}

.cta-btn {
    display: inline-block;
    background-color: #EDAEC0;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .cta-btn:hover {
        background-color: #d495a7;
    }

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
}

    .hero-image img {
        max-width: 300%;
        width: 5000px;
        height: auto;
    }

.content-container {
    padding: 30px 60px;
}

.book-search {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
    margin: 0 auto 40px auto;
    display: block;
}

.section-box {
    background-color: #fff;
    border: 1px solid #e0dede;
    border-radius: 12px;
    padding: 20px 25px;
    margin-bottom: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    margin: 10px auto;
    max-width: 1100px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .section-header h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .section-header a {
        font-size: 14px;
        color: #5a2c74;
        text-decoration: underline;
    }

/* Book Cards */
.book-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
    justify-content: center;
}

.book-card {
    width: 180px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    text-align: center;
}

    .book-card:hover {
        border-color: #B089A5;
        box-shadow: 0 6px 15px rgba(176, 137, 165, 0.3);
        transform: translateY(-4px);
    }

.book-cover {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.book-meta {
    margin-top: 10px;
}

/* Pagination */
.pagination {
    text-align: center;
    margin-top: 20px;
}

    .pagination a {
        display: inline-block;
        margin: 0 5px;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: 6px;
        border: 1px solid #B089A5;
        color: #B089A5;
        text-decoration: none;
    }

        .pagination a.active, .pagination a:hover {
            background-color: #B089A5;
            color: white;
        }

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: none;
    z-index: 1050;
}

    .custom-modal.show {
        display: flex;
        opacity: 1;
        pointer-events: auto;
    }

    .custom-modal.hidden, .auth-box.hidden {
        display: none !important;
    }

.auth-box {
    flex: 1;
    background-color: #B089A5;
    width: 400px;
    padding: 20px 50px;
    border-radius: 12px;
    color: #2C2133;
    text-align: center;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.custom-modal.show .auth-box {
    opacity: 1;
    transform: translateY(0);
}

.modal-close {
    position: absolute;
    top: 1px;
    right: 15px;
    font-size: 3rem;
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    z-index: 100;
    width: auto;
    height: auto;
    padding: 0;
    line-height: 1;
}

    .modal-close:hover {
        color: #ff4d4f;
    }

.auth-columns {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.auth-box input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    color: #2C2133;
}

.auth-box img {
    height: 120px;
    margin-bottom: 8px;
}

.auth-box p {
    font-size: 13px;
    margin-top: 6px;
    color: #2C2133;
}

.auth-box h2 {
    font-size: 20px;
    color: #2C2133;
}

.filter-form {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.filter-section fieldset {
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

.filter-section label {
    margin-right: 15px;
    display: inline-block;
}

.dropdown-section {
    margin-top: 10px;
}

.apply-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #B089A5;
    color: white;
    border: none;
    border-radius: 5px;
}

.no-books {
    text-align: center;
    font-style: italic;
    color: #B089A5;
}

.genre-badge {
    background: #EDAEC0;
    margin: 2px;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
    border: 1px solid #B089A5;
}

.custom-toggle-btn {
    background-color: #F8ECE9;
    border: 2px solid #B089A5;
    border-radius: 10px;
    transition: 0.3s;
}

    .custom-toggle-btn:hover {
        background-color: #EDAEC0;
        color: #FFFFFF;
    }

.custom-border-title {
    border: 2px solid #B089A5;
    background-color: #F8ECE9;
    padding: 10px;
    display: inline-block;
    border-radius: 12px;
}

/* Filter Buttons */
.btn-outline-primary {
    background-color: #F8ECE9 !important;
    border-color: #B089A5 !important;
    color: #000000 !important;
}

    .btn-outline-primary:hover,
    .btn-outline-primary.active,
    .btn-outline-primary:focus {
        background-color: #EDAEC0 !important;
        color: white !important;
        border-color: #B089A5 !important;
    }

/* Dropdown Filter Button */
.btn-outline-secondary {
    background-color: #F8ECE9;
    border-color: #B089A5;
    color: #000000;
}

    .btn-outline-secondary:hover,
    .btn-outline-secondary:focus {
        background-color: #EDAEC0;
        color: white;
        border-color: #B089A5;
    }

.display-title-highlight {
    background-color: #F8ECE9;
    border: 2px solid #B089A5;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 12px;
    font-weight: bold;
    font-size: 35px;
    color: #2C2133;
}

.btn-custom-pg {
    background-color: #F8ECE9;
    color: black;
    border: 1px solid #B089A5;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
}

    .btn-custom-pg:hover {
        background-color: #EDAEC0;
        color: white;
        border-color: #B089A5;
    }

    .btn-custom-pg.active {
        background-color: #EDAEC0 !important;
        color: white !important;
        border-color: #B089A5 !important;
    }

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
    border: 2px solid #B089A5;
}

.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}



.book-header {
    text-align: center;
    background-color: #F8ECE9;
    padding: 12px 24px;
    border-radius: 8px;
    margin: 20px auto;
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid #B089A5;
    color: #2C2133;
    width: 50%;
}


.book-section {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.book-details {
    text-align: center;
}


    .book-details h2 {
        margin-top: 0;
    }


.review {
    margin-bottom: 25px;
}

    .review strong {
        font-size: 1em;
    }

.review-date {
    float: right;
    font-size: 0.9em;
    color: #555;
}


.book-info-table td {
    padding: 6px 10px;
    border-bottom: 1px solid #D8A1C4;
    vertical-align: top;
}

.description-box {
    margin-top: 1rem;
}





.book-details-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    margin: 20px auto;
    flex-wrap: wrap;
    max-width: 1000px;
}

.book-details-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
}

.add-fav-btn {
    background-color: #EDAEC0;
    color: #2C2133;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 12px;
    width: 150px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .add-fav-btn:hover {
        background-color: #B089A5;
        color: white;
    }


.book-rating span {
    margin-right: 1px;
}

.book-details-right {
    flex: 1;
    max-width: 700px;
}




.book-details-cover {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

    .book-info-table th {
        text-align: left;
        padding: 6px 10px;
        font-weight: bold;
        color: #2C2133;
    }

    .book-info-table td {
        padding: 6px 10px;
        color: #2C2133;
        border-bottom: 1px solid #B089A5;
    }

.book-details-right h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.book-details-right h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.description-box p {
    margin-top: 5px;
    line-height: 1.6;
}

.review-section {
    background-color: #F8ECE9;
    border: 2px solid #B089A5;
    border-radius: 8px;
    padding: 20px;
    margin: 40px auto 20px;
    width: 50%; /* responsive scaling */
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-review-btn {
    background-color: #EDAEC0;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .add-review-btn:hover {
        background-color: #B089A5;
        color: #2C2133;
    }

.review-card {
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.review-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: bold;
}

.review-stars {
    margin-bottom: 8px;
}

.auth-box.active {
    opacity: 1;
    transform: translateY(0);
}

.custom-login-modal {
    background-color: #b7839c; /* or your preferred color */
    border: none; /* remove border */
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    max-width: 360px;
    margin: auto;
}

.custom-login-logo {
    width: 80px;
    height: auto;
    margin: 0 auto;
}

.custom-input {
    border: none;
    background-color: #fce4ec;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 0 0 1px #e0e0e0;
}

.custom-login-btn {
    background-color: #EDAEC0 !important;
    color: #000 !important;
    border: none !important;
    font-weight: bold;
}

    .custom-login-btn:hover {
        background-color: #e29bad;
    }

.modal-content {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.hidden {
    display: none !important;
}
.auth-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 12px;
    padding: 2rem;
    z-index: 9999;
    display: none; /* Will be toggled by JS */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 420px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9990;
    display: none;
}
