.gradient-custom-2 {
    background: #ff0000; 
    background: -webkit-linear-gradient(to right, #ff0000, #000000);
    background: linear-gradient(to right, #ff0000, #000000);
}

.login-btn {
    width: 180px;
}

.register-box {
    width: 600px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
