@model Readiculous.WebApp.Models.LoginViewModel

<form asp-action="Login" asp-controller="User" method="post" novalidate>
    <button type="button" class="modal-close" onclick="closeModal()">×</button>

    <img src="~/img/png-logo.png" class="auth-icon" />
    <h2>Welcome to Readiculous</h2>

    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="Email" class="form-input" placeholder="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>

    <input asp-for="Password" class="form-input" placeholder="Password" type="password" />
    <span asp-validation-for="Password" class="text-danger"></span>

    <button type="submit" class="auth-btn">Sign In</button>

    <p>
        <a href="javascript:void(0);" onclick="showModal('forgot')">Forgot Password?</a><br />
        Don’t have an account?
        <a href="javascript:void(0);" onclick="showModal('register')">Sign up</a>
    </p>
</form>
