@model dynamic

<div>
    <img src="~/img/successfully.png" class="auth-icon" />
    <h2>Password Successfully Reset</h2>

    <p>You can now log in with your new password.</p>

    <button type="button" class="auth-btn" onclick="closeModal()">Done</button>
</div>
