@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F2EFF1;
    color: #2f2f2f;
}

/* Navbar */
.navbar {
    background-color: #B089A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    color: white;
}

.logo-group {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 40px;
    margin-right: 10px;
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    display: flex;
    gap: 25px;
}

    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

        .nav-links a:hover {
            text-decoration: underline;
        }

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    gap: 40px;
}

.hero-text {
    max-width: 600px;
}

    .hero-text h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .hero-text p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 25px;
    }

.cta-btn {
    display: inline-block;
    background-color: #EDAEC0;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .cta-btn:hover {
        background-color: #d495a7;
    }



.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

    .hero-image img {
        max-width: 100%;
        width: 550px;
        height: auto;
        margin-right: 280px;
    }

